/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#ffffff, #c0c0c0);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  background-color: lightgray;
  color: black;
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  padding: 10px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: navy
}

form {
  margin :5px;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  background: beige;
}

#students {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.individual-student {
  display: flex;
  align-items: center;
  margin :5px;
  padding: 5px;
}
